.import-btn {
  position: absolute;
  right: 0;
  left: auto;
  top: 0;
}

.sidebar-nav .btn-group-layer .btn-layer.imported-layer {
  width: 75.5%;
}

.tab-data-accordion .dropdown-menu.import-layer-dropdown {
  min-width: 0;
  width: 25%;
  left: auto;
  min-height: 0;
}

#import-layer-delete-button {
  color: white;
}

#import-layer-edit-form div form {
  width: auto;
}
