amqp==1.4.9
anyjson==0.3.3
asn1crypto==0.24.0
backports.shutil-get-terminal-size==1.0.0
billiard==3.3.0.23
boto==2.49.0
celery==3.1.26.post2
certifi==2018.4.16
chardet==3.0.4
Cheetah==2.4.4
Click==7.0
colorama==0.2.5
configobj==4.7.2
cryptography==2.3.0
decorator==4.3.0
Django==1.7.11
django-celery==3.2.2
django-compress==1.0.1
django-extensions==2.1.4
django-flatblocks==0.9.4
django-kombu==0.9.4
django-picklefield==1.0.0
django-proxy==1.0.2
django-redis==4.8.0
django-registration==0.8
django-tastypie==0.13.3
-e git://github.com/springmeyer/djmapnik.git@8d736a73470b3b3c480503fe55f6f77340b6b7e5#egg=djmapnik
#elementtree==1.2.6.post20050316
enum34==1.1.6
eventlet==0.14.0
Flask==1.0.2
future==0.17.1
GDAL==2.3.2
geos==0.2.1
greenlet==0.4.14
gunicorn==19.9.0
html5lib==0.999
httplib2==0.8
idna==2.7
ipaddress==1.0.17
ipdb==0.11
ipython==5.8.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10
jsonpatch==1.3
jsonpointer==1.0
keyring==3.5
keyrings.alt==3.0
kombu==3.0.37
launchpadlib==1.10.2
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lxml==4.2.5
MapProxy==1.7.0
Markdown==3.0.1
MarkupSafe==1.1.0
mimeparse==0.1.3
numpy==1.8.2
oauth==1.0.1
oauthlib==2.1.0
pam==0.1.4
pathlib2==2.3.3
pbr==5.1.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.2.0
pkg-resources==0.0.0
prettytable==0.7.2
prompt-toolkit==1.0.15
psycopg2==2.7.5
ptyprocess==0.6.0
pycryptodomex==3.7.2
Pygments==2.3.1
pygobject==3.26.1
pyjwkest==1.4.0
PyJWT==1.7.1
python-dateutil==2.7.3
python-debian==0.1.21+nmu2
python-mimeparse==1.6.0
python-openid==2.2.5
python-slugify==1.2.5
python-social-auth==0.3.6
pytz==2018.5
pyxdg==0.25
PyYAML==5.4
querystring-parser==1.2.3
redis==2.10.6
requests==2.21.0
requests-oauthlib==1.0.0
scandir==1.9.0
SecretStorage==2.0.0
simplegeneric==0.8.1
simplejson==3.3.1
six==1.12.0
social-auth-app-django==0.0.1
social-auth-core==0.2.1
ssh-import-id==3.21
testresources==2.0.1
traitlets==4.3.2
Twisted==13.2.0
typing==3.6.6
Unidecode==1.0.22
urllib3==1.24.1
uWSGI==2.0.17.1
vine==1.1.4
virtualenv==1.11.4
wadllib==1.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
zope.interface==4.0.5
-e git://github.com/Ecotrust/madrona.git@dj1.7#egg=madrona
