<div id="import-layer-delete-modal" class="modal hide fade">
    <div class="modal-header" style="min-height: 20px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Delete Data Layer</h3>
    </div>
    <div class="modal-body">

      <!-- STATUS ALERTS -->
      <div class="row-fluid">
          <div class="span12">
            <p>Are you sure you wish to delete this imported layer?
          </div>
      </div>

    </div>
    <div class="modal-footer">
        <!-- <button href="#" class="btn" data-dismiss="modal">Close</button> -->
        <button href="#" type="button" class="btn btn-danger" id="import-layer-delete-button">Delete</button>
        <button href="#" type="button" class="btn" data-dismiss="modal">Close</button>
    </div>
</div>
