[Unit]
Description=MapServer
#ConditionFileIsExecutable=/etc/init.d/mapserv
#After=network.target
#After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
#Type=forking
ExecStart=/usr/local/apps/PEW-EFH/deploy/run-mapserv.sh
#TimeoutSec=0
#RemainAfterExit=yes
#Restart=on-failure
#LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
