
<div class="tab-pane fade" data-bind="attr:{id:tocid+'-designs'}" data-tab="designs">
  <div data-bind="attr:{id:tocid+'-designs-slide'}">
    <!-- Create New Design dropdown menu -->
    <div class="row-fluid">
        <div class="alert alert-success" data-bind="visible: app.viewModel.scenarios.loadingMessage">
          <strong>Creating!</strong> <span data-bind="text: app.viewModel.scenarios.loadingMessage"></span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%"></div>
          </div>
        </div>
        <div class="alert alert-error" data-bind="visible: app.viewModel.scenarios.errorMessage">
          <strong>Error!</strong> <span data-bind="text: app.viewModel.scenarios.errorMessage"></span>
          <span>There are no Grid Cells that match the selected criteria.</span>
          <div>
            <button class="btn pull-right" data-bind="click: app.viewModel.scenarios.reset">Try Again</button>
            <div class="clearfix"></div>
          </div>
        </div>
    </div>

    <div class="form-container" data-bind="visible: ! (app.viewModel.scenarios.loadingMessage() || app.viewModel.scenarios.errorMessage())">
        <div data-bind="attr:{id:tocid+'-designs-data'}, visible: !app.viewModel.scenarios.scenarioForm() && !app.viewModel.scenarios.drawingForm()" class="designs-data">
            <!-- <div class="row-fluid">
                <div class="span12">
                    <div id="create-new-design" class="btn-group pull-left" style="padding-bottom: 10px;">
                        <a id="create-new-button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            Create New
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="min-width: 115px;">
                            <li id="create-new-drawing"><a data-bind="click: createPolygonDesign" style="padding-left: 15px">Drawing</a></li>
                            {% comment %} <li id="create-new-selection"><a data-bind="click: createSelectionDesign" style="padding-left: 15px">Lease Block Collection</a></li> {% endcomment %}
                            {% load in_group %}
                            <li><a data-bind="click: createWindScenario" style="padding-left: 15px">Wind Energy Siting</a></li>
                        </ul>
                    </div>

                </div>
            </div> -->

            <div data-bind="attr:{id:tocid+'-design-list'}" class="design-list row-fluid">
                <div style="
                    padding-right: 2px;
                    height: 388px;">
                <div data-bind="attr:{id:tocid+'-designs-accordion'}" class="designs designs-accordion">
                    <div class="accordion" style="">

                        <!-- GRID FILTERING -->
                        {% if user.is_staff %}
                        <div>
                            <div class="accordion-group" style="border: 1px solid #e5e5e5;">
                                <div class="accordion-heading" data-bind="click: app.viewModel.scenarios.toggleScenariosOpen, css: { 'active': app.viewModel.scenarios.isScenariosOpen() }">
                                    <a class="accordion-toggle">
                                        <span>Grid Filtering</span>
                                    </a>
                                    <a class="create-new-button" data-bind="click: app.viewModel.scenarios.createWindScenario, clickBubble: false">
                                        <i class="icon-plus icon-large"></i>
                                    </a>
                                </div>
                                <div class="accordion-body collapse" data-bind="css: { 'in': app.viewModel.scenarios.isScenariosOpen() }">
                                    <div class="accordion-inner">

                                        <div data-bind="visible: !app.viewModel.scenarios.scenarioList().length" style="font-weight: normal">
                                            <div style="padding: 10px;">
                                                <p>
                                                    You currently have no Grid Filter Designs.
                                                </p>
                                                <p>
                                                    Click the plus sign (<i class="icon-plus icon-large" style="color: #064669"></i>) above to create a Grid Filter Designs.
                                                </p>
                                                <p>
                                                    Note:  You may, at any time, edit, share, or remove any of the sitings that you have created.
                                                    Any sitings shared with you can be copied so that they too can be edited, shared, or removed.
                                                </p>
                                            </div>
                                        </div>

                                        <ul class="unstyled list" data-bind="foreach: app.viewModel.scenarios.scenarioList ">
                                            <li class="layer">
                                                <div class="btn-group btn-group-layer">
                                                    <!-- <a class="btn btn-info-sign" data-bind="click: toggleDescription, css: { 'active': infoActive() }">
                                                        <i class="icon-info-sign icon-large"></i>
                                                    </a> -->
                                                    <a style="font-weight: normal" class="btn btn-layer" data-bind="css: { 'active': active(), 'not-active': ! active() }, click: toggleActive">
                                                        <div data-bind="text: name" style="display: inline"></div>
                                                        <span rel="tooltip" data-bind="attr: {title: sharedBy}">
                                                            <i class="icon-signin" data-bind="visible: shared" style="padding-left: 10px"></i>
                                                        </span>
                                                        <span rel="tooltip" data-bind="attr: {title: sharedWith}">
                                                            <i class="icon-signout" data-bind="visible: selectedGroups().length" style="padding-left: 10px"></i>
                                                        </span>
                                                        <i class="check icon-large icon-check" data-bind="visible: visible()"></i>
                                                        <i class="check icon-large icon-check-empty" data-bind="visible: active() && ! visible()"></i>
                                                    </a>
                                                    <a class="btn btn-group dropdown-toggle"data-toggle="dropdown" href="#">
                                                        <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a data-bind="visible: ! shared(), click: editScenario">Edit</a></li>
                                                        <!--<li><a id="share-option" href="#share-modal" data-toggle="modal">Share</a></li>-->
                                                        <li><a data-bind="attr:{id:parent.tocid+'-share-option'}, visible: ! shared() && $parent.hasSharingGroups, click: $parent.showSharingModal" class="share-option">Share</a></li>
                                                        <li><a data-bind="click: $parent.zoomToScenario">Zoom To</a></li>
                                                        <li class="divider"></li>
                                                        <li><a data-bind="visible: ! shared(), click: deleteScenario">Delete</a></li>
                                                        <li><a data-bind="visible: shared, click: createCopyScenario">Create Copy</a></li>
                                                    </ul>
                                                    <!-- style="height: 20px; padding: 4px 12px; border-left-width: 0px" -->
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <!-- end grid filtering -->

                        <!-- DRAWINGS -->
                        <div>
                            <div data-bind="attr:{id:tocid+'-drawing-accordion'}" class="accordion-group drawing-accordion">
                                <div class="collections-header">
                                    <div class="drawings-header accordion-heading" data-bind="attr:{id:tocid+'-drawings-header'}, click: app.viewModel.scenarios.toggleDrawingsOpen, css: { 'active': app.viewModel.scenarios.isDrawingsOpen() }">
                                        <div>
                                            <a class="accordion-toggle">
                                                <!--<span>Sketches of the Sea</span>-->
                                                <span>Drawings</span>
                                            </a>
                                            <a class="create-new-button" data-bind="click: app.viewModel.scenarios.createPolygonDesign, clickBubble: false">
                                                <i class="icon-plus icon-large"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-body collapse" data-bind="css: { 'in': app.viewModel.scenarios.isDrawingsOpen() }">
                                    <div class="accordion-inner">

                                        <div data-bind="visible: !app.viewModel.scenarios.drawingList().length" style="font-weight: normal">
                                            <div style="padding: 10px;">
                                                <p>
                                                    You currently have no Drawings.
                                                </p>
                                                <p>
                                                    Click the plus sign (<i class="icon-plus icon-large" style="color: #064669"></i>) above to create a Drawing.
                                                </p>
                                                <p>
                                                    Note:  You may, at any time, edit, share, or remove any of the drawings that you have created.
                                                    Any drawings shared with you can be copied so that they too can be edited, shared, or removed.
                                                </p>
                                            </div>
                                        </div>

                                        <ul class="unstyled list" data-bind="foreach: app.viewModel.scenarios.drawingList ">
                                            <li class="layer">
                                                <div class="btn-group btn-group-layer">
                                                    <!-- <a class="btn btn-info-sign" data-bind="click: toggleDescription, css: { 'active': infoActive() }">
                                                        <i class="icon-info-sign icon-large"></i>
                                                    </a> -->
                                                    <a style="font-weight: normal" class="btn btn-layer" data-bind="css: { 'active': active(), 'not-active': ! active() }, click: toggleActive">
                                                        <div data-bind="text: name" style="display: inline"></div>
                                                        <span rel="tooltip" data-bind="attr: {title: sharedBy}">
                                                            <i class="icon-signin" data-bind="visible: shared" style="padding-left: 10px"></i>
                                                        </span>
                                                        <span rel="tooltip" data-bind="attr: {title: sharedWith}">
                                                            <i class="icon-signout" data-bind="visible: selectedGroups().length" style="padding-left: 10px"></i>
                                                        </span>
                                                        <i class="check icon-large icon-check" data-bind="visible: active() && visible()"></i>
                                                        <i class="check icon-large icon-check-empty" data-bind="visible: active() && ! visible()"></i>
                                                    </a>
                                                    <a class="btn btn-group dropdown-toggle" data-toggle="dropdown" href="#">
                                                        <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a data-bind="visible: ! shared(), click: editDrawing">Edit</a></li>
                                                        <li><a data-bind="attr:{id:parent.tocid+'-share-option'}, visible: ! shared() && $parent.hasSharingGroups, click: $parent.showSharingModal" class="share-option">Share</a></li>
                                                        <li><a data-bind="click: $parent.zoomToScenario">Zoom To</a></li>
                                                        <li class="divider"></li>
                                                        <li><a data-bind="visible: ! shared(), click: deleteDrawing">Delete</a></li>
                                                        <li><a data-bind="visible: shared, click: createCopyDrawing">Create Copy</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end drawings -->

                    </div>
                </div>
                </div>
            </div>
        </div>

        <div style="height: 100%" data-bind="visible: app.viewModel.scenarios.scenarioForm">
            <div data-bind="attr:{id:tocid+'-scenario-form'}">
              <div class="scenario-form panel-container"></div>
            </div>
        </div>

        <div style="height: 100%" data-bind="visible: app.viewModel.scenarios.drawingForm">
            <div data-bind="attr:{id:tocid+'-drawing-form'}">
              <div class="drawing-form panel-container"></div>
            </div>
        </div>

        {% comment %}
        <div style="height: 100%" data-bind="visible: reportsVisible">
            <div class="reports panel-container" data-bind="attr:{id:tocid+'-reports'}, with: reports">
                <div class="form-container">
                    <div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="btn pull-right" data-bind="click: app.viewModel.scenarios.returnToDesigns">
                                    Return to Designs
                                </div>
                                <div data-bind="attr:{id:tocid+'-create-new-design'}" class="create-new-design btn-group pull-left" style="padding-bottom: 10px;">
                                    <a data-bind="attr:{id:tocid+'-comparison-reports-button'}" class="btn btn-primary dropdown-toggle comparison-reports-button" data-toggle="dropdown" href="#">
                                        Comparison Reports
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a data-bind="click: hideReport">Introduction</a></li>
                                        <li><a data-bind="click: showWindReport">Wind Energy Potential</a></li>
                                        <li><a data-bind="click: showSubstationReport">Distance to Coastal Substations</a></li>
                                        <li><a data-bind="click: showAWCReport">Distance to AWC Hubs</a></li>
                                        <li><a data-bind="click: showShorelineReport">Distance to Shore</a></li>
                                        <li><a data-bind="click: showDepthReport">Depth Range</a></li>
                                        <li><a data-bind="click: showShippingReport">Distance to Ship Routing Measures</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reports-intro" data-bind="attr:{id:tocid+'-reports-intro'}, visible: !showingReport()">
                        <p>Comparison Reports can be used to visually compare your Lease Block Selections across various measurable values.</p>
                    </div>
                    <div data-bind="visible: !showingReport() && !noActiveCollections()">
                        <p><b>Select a Comparison Report</b> from the menu above.</p>
                    </div>
                    <div data-bind="visible: noActiveCollections()">
                        <p>Comparison Reports will provide a comparison of all of your visible Lease Block Selections.</p>
                        <p data-bind="attr:{id:tocid+'-comparison-report-flash-instructions'}" class="comparison-report-flash-instructions">
                            <span data-bind="visible: $parent.selectionList().length==0">
                                You do not currently have any Lease Block Selections to compare.
                                Create Lease Block Selections through the Create New button on the Designs panel.
                            </span>
                            <span data-bind="visible: $parent.selectionList().length!=0">
                                You currently have no Lease Block Selections displayed on the map.
                                <b>Activate one or more Lease Block Selections before choosing a report.</b>
                            </span>
                        </p>
                    </div>
                    <div class="reports-container" data-bind="attr:{id:tocid+'-reports-container'}, visible: showingReport() && !noActiveCollections()" style="max-width: 400px; height: 400px; margin: 0 auto; margin-left: -10px;">
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}
    </div>
  </div>
</div>
